html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.layer-list {
    list-style: none;
    background-color: white;
    padding: 0;
    margin: 0;
    height: 100%;
}

.layer-list > li {
    padding: 0;
    margin: 0;
}